<div id="form-dialog" title="請選擇">
    <form>
        <div id="calender-wrap" class="hidden">
            <div id="calendar"></div>
        </div>
        <div class="table-wrap">
            <div class="table-row">
                <div class="table-column table-col-left">
                    <input id="hour-spinner" class="spinner" name="時">
                </div>
                <div class="table-column table-col-right">
                    時
                </div>
                <div class="table-column table-col-left">
                    <input id="minute-spinner" class="spinner" name="分">
                </div>
                <div class="table-column table-col-right">
                    分
                </div>
            </div>
        </div>
        <div class="label-wrap">
            <label id="lbl-datetime-caption-dialog" class="left-l">日期時間: </label>
            <label id="lbl-datetime" class="right-l"></label>
        </div>
    </form>
</div>
