<div class="wrapper">
    <div id="modal-wrap" class="hidden ">
        <div class="modal-app-msg">
            <div class="modal-dialog app-msg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="modal-btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">{0}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="exinfo text-right">
                            費率：一小時 <span class="num">60</span> 元
                        </div>
                        <div class="exdetail">
                            <p>地址：<span>台北市民生東路四段122號</span></p>
                            <p>營業時間：<span>7:00～24:00</span></p>
                            <p>即時車位數/總車位數：<span>250 </span></p>
                            <p>停車場種類：<span>平面/機械 </span></p>
                            <p>限高：<span>190公尺 </span></p>
                            <p>無障礙服務：<span>有</span></p>
                        </div>
                    </div>
                    <!--  modal body end -->
                    <!-- 按鈕 -->
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <a id="modal-dismiss" href="javascript:void(0)" class="btn lightblue" data-dismiss="modal">知道了</a>
                            </div>
                            <div class="col-md-6">
                                <a id="modal-goto" href="#" class="btn lightblue">前往此處</a>
                            </div>
                        </div>
                    </div>
                    <div id="modal-pointer" class="">
                        <div class="pointer-left-outer">
                            <div class="pointer-left-inner"></div>
                        </div>
                        <div class="pointer-right-outer">
                            <div class="pointer-right-inner"></div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <div id="navigation-modal" class="hidden ">
        <div class="modal-app-msg">
            <div class="modal-dialog app-msg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="modal-navigate-btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">路徑規劃</h4>
                    </div>
                    <div class="modal-body">
                        <div class="exdetail">
                            <div id="routeInfo" class="hidden">
                                <h2>路徑1-最快到達</h2>
                                <p>20 分鐘 <span>5.4 公里</span></p>
                                <h2>路徑2-最短距離</h2>
                                <p>20 分鐘 <span>4.5 公里</span></p>
                            </div>
                            <div id="navigation-input">
                                <p>
                                    出發地:
                                    <span><input id="origin-input" class="controls" type="text" value="目前位置"></span>
                                </p>
                                <p>
                                    目的地:
                                    <span><input id="destination-input" class="controls" type="text" ></span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <!--  modal body end -->
                    <!-- 按鈕 -->
                    <div id="navigate-modal-footer" class="modal-footer">
                        <div  class="row">
                            <div class="col-md-6">
                                <a id="modal-navigate-dismiss" href="javascript:void(0)" class="btn lightblue" data-dismiss="modal">知道了</a>
                            </div>
                            <div class="col-md-6">
                                <a id="modal-routeSearch" href="#" class="btn lightblue">查詢路徑</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <div id="info-dialog" class="hidden ">
        <div class="modal-app-msg">
            <div class="modal-dialog app-msg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="info-btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">確認</h4>
                    </div>
                    <div class="modal-body">
                        <div class="exdetail">
                          <div id="confirm-dialog" >
                              <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
                          </div>
                        </div>
                    </div>
                    <!--  modal body end -->
                    <!-- 按鈕 -->
                    <div id="dialog-modal-footer" class="modal-footer">
                        <div  class="row">
                            <div class="col-md-offset-8 col-md-4 ">
                                <a id="modal-close" href="#" class="btn lightblue">知道了</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
