<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">交通查詢平台</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a data-toggle="tab" href="#tabs-1">路況資訊</a></li>
      <li><a data-toggle="tab" href="#tabs-2">涵蓋率資訊</a></li>
    </ul>
  </div>
</nav>
